<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.paddington.cordova.realperson" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>aliRealPerson</name>
    <js-module name="aliRealPerson" src="www/aliRealPerson.js">
        <clobbers target="cordova.plugins.aliRealPerson" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="aliRealPerson">
                <param name="ios-package" value="aliRealPerson" />
            </feature>
        </config-file>
        <source-file src="src/ios/aliRealPerson.m" />
        <framework src="src/ios/frameworks/AliyunOSSiOS.framework" custom="true" />
        <framework src="src/ios/frameworks/RPSDK.framework" custom="true" />
        <framework src="src/ios/frameworks/SecurityGuardSDK.framework" custom="true" />
        <framework src="src/ios/frameworks/SGMain.framework" custom="true" />
        <framework src="src/ios/frameworks/SGSecurityBody.framework" custom="true" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="aliRealPerson">
                <param name="android-package" value="com.paddington.cordova.realperson.aliRealPerson" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/aliRealPerson.java" target-dir="src/com/paddington/cordova/alirealperson/aliRealPerson" />
    </platform>
</plugin>